body {
    background-image: linear-gradient(#414141, rgba(0, 0, 0, 0.85));
}

.chat-form input {
    transition: 0.50s;
    position: absolute;
    left: 45%;
    top: 87%;
    background: none;
    text-align: center;
    border-radius: 15px;
    color: white;
    width: 300px;
    border: 1px solid blanchedalmond;
    height: 35px;
}

.chat-form input:focus {
    background: none;
    text-align: center;
    border: 1px solid white;
    width: 325px;
    color: white;
    position: absolute;
    left: 44%;
    transition: 0.5s;
    border: 1px solid #faffc4;
}

.chat-form img[name = "paper-plane"]{
    width: 35px;
    border-radius: 40px;
    border: 1px solid #afafaf;
    position: absolute;
    left: 62%;
    top: 87%;
    background: #afafaf;
    transition: 0.25s;
}

.chat-form img[name = "paper-plane"]:hover{
    width: 37px;
    border-radius: 40px;
    border: 1px solid white;
    position: absolute;
    left: 62%;
    top: 87%;
    background-color: white;
    transition: 0.25s;
}

.chat-form button {
    background: none;
    border: none;
}
.border-left {
    border-left: 2px solid white;
    height: 670px;
    display: inline-block;
    position: absolute;
    left: 90%;
    top: 25%;
}
